@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body {
    background: #2F4F4F;
}

.container {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-calculadora {
    width: 400px;
    height: 80%;
    padding: 30px 16px;
    border: 2px solid #A9A9A9;    
    border-radius: 10px;
    background: #008080;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-calcular {
    width: 150px;
    padding:4px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}